{% extends 'base.html.twig' %}

{% block title %}New post{% endblock %}
{% block body %}
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8">
            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">New post:</h5>
                <div class="card-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
{% endblock %}
